.postscript {
  height: 200%;
  width: auto;
  padding: 8vw;
  padding-top: 5vw;
  background-color: #1b1d1c;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.postscript span {
  overflow-wrap: break-word;
}

.postscript h1 {
  margin: 0;
  font-weight: 400;
}
